img {
  border-radius: 9999px;
  width: 40px;
}

.headerContainer {
  align-items: center;
  background-color: #f1f5f9;
  display: flex;
  gap: 150px;
  justify-content: flex-end;
  padding: 40px;
}

.imageContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.scoreContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  letter-spacing: 0.12em;
}

.scoreContainer span {
  font-weight: 700;
  margin-left: 5px;
}

.starIcon {
  content: url('../images/star-icon.svg');
}

.separator {
  align-items: center;
  display: flex;
  gap: 100px;
  margin-right: 50px;
}

.settingsIcon {
  content: url('../images/settings-icon.svg');
}

@media screen and ( max-width : 768px ) {

  .headerContainer {
    gap: 10px;
    justify-content: flex-end;
  }

  .scoreContainer {
    gap: 5px;
  }

  .separator {
    gap: 10px;
    margin-right: 10px;
  }
}
