::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0000006e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url('images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
}
